<div class="card" [ngClass]="{ dark: dark }">
  <div class="card-header" [ngClass]="{ dark: dark }">
    <div class="row">
      <div class="col col-10">
        <h3 class="d-flex align-items-center"><img alt="logo" *ngIf="logo" src="/assets/images/{{logo}}.png" height="50" class="px-3"/>
          {{ header }}
        </h3>
      </div>
      <div *ngIf="showAdd" class="col col-2">
        <button (click)="add()" type="button" class="btn float-end">
          <img alt="add button" src="/assets/images/add.svg" height="50"/>
        </button>
      </div>
    </div>
    <!-- <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{ header }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div> -->
  </div>
  <div class="card-body" [ngClass]="{ dark: dark }">
    <div *ngIf="itemsList.length" class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Поиск" aria-describedby="button-addon"
             [formControl]="filterControl">
      <button type="button" class="btn btn-light" (click)="sort()"><img src="/assets/images/sort.png"/></button>
    </div>
    <div *ngIf="!itemsList.length && showAdd" class="input-group mb-3">
      <p class="text-muted pt-4">{{ emptyMessage }}</p>
      <img class="arrow" src="/assets/images/arrow-add-new.png" />
    </div>
  </div>
  <div class="list-group list-group-flush" [ngClass]="selectorStyle">
    <a *ngFor="let item of filteredItems" (click)="selectedHandler(item)" href="#"
       [ngClass]="{selected: item.id === selectedItemId, dark: dark}"
       class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between list-item-label">
        {{ item.name }}
        <div *ngIf="showSwitcher" class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked #switcher (click)="switcherClicked($event, item, switcher.checked)">
        </div>
        <div *ngIf="showDelete" (click)="deleteItem(item)">
          <button type="button" class="btn btn-delete"><img src="/assets/images/delete.png"/></button>
        </div>
      </div>
    </a>
  </div>
</div>
