<div class="card" [ngClass]="{ dark: dark }">
  <div class="card-header" [ngClass]="{ dark: dark }">
    <h3>
      <i *ngIf="logo" nz-icon nzType="{{logo}}" nzTheme="outline"></i>
      {{ header }}
    </h3>
    <div *ngIf="showAdd">
      <button (click)="add()" type="button" class="btn float-end">
        <i nz-icon nzType="file-add" nzTheme="fill"></i>
      </button>
    </div>
    <!-- <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{ header }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div> -->
  </div>
  <div [ngClass]="{ dark: dark }">
    <div class="input-row" *ngIf="itemsList.length">
      <input type="text" aria-describedby="button-addon"
             placeholder="Поиск"
             nz-input
             [formControl]="filterControl"
             />
      <button class="sort-button" type="button" (click)="sort()">
        <i nz-icon nzType="{{isAsc ? 'sort-ascending' : 'sort-descending'}}" nzTheme="outline"></i>
      </button>
    </div>
    <div *ngIf="!itemsList.length && showAdd" class="input-group mb-3">
      <p class="text-muted pt-4">{{ emptyMessage }}</p>
      <img src="/assets/images/arrow-add-new.png" />
    </div>
  </div>
  <div class="list-group list-group-flush" [ngClass]="selectorStyle">
    <nz-list>
      <nz-list-item *ngFor="let item of filteredItems">
        <nz-list-item-meta nzDescription="{{item.name}}">
        </nz-list-item-meta>
        <ul nz-list-item-actions>
          <nz-list-item-action *ngIf="showSwitcher">
            <label
              nz-checkbox
              id="flexSwitchCheckChecked"
              [nzChecked]="item.checked"
              (click)="switcherClicked($event, item)"
            ></label>
          </nz-list-item-action>
          <nz-list-item-action *ngIf="showDelete">
            <button (click)="deleteItem(item)" nz-button nzType="primary" [nzSize]="'small'" nzShape="circle">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
          </nz-list-item-action>
        </ul>
      </nz-list-item>
    </nz-list>

    <!--<a *ngFor="let item of filteredItems" (click)="selectedHandler(item)" href="#"
       [ngClass]="{selected: item.id === selectedItemId, dark: dark}"
       aria-current="true">
      <div class="d-flex w-100 justify-content-between list-item-label">
        <div >
          <button type="button" class="btn btn-delete"></button>
        </div>
      </div>
    </a>-->
  </div>
</div>
