<div class="list-app">
  <div class="header">
    <div class="title">
      Test task for Aplana|Robin
    </div>
    <div class="subtitle">
      Дан некий компонент списка. Нужно понять как он устроен, создать новое приложение на ангуляре и встроить туда этот
      компонент, чтобы он работал.
    </div>
  </div>
  <div class="main">
    <app-list [header]="listControl.header" [items]="listControl.items" [logo]="listControl.logo"></app-list>
  </div>
  <footer>
    I thank <a href="https://tilda.cc">tilda.cc</a> for providing free icons for the site
  </footer>
</div>
