<div class="list-app">
  <div class="header">
    <div class="title">
      Test task for Aplana / Robin
    </div>
    <div class="subtitle">
      Дан некий компонент списка. Нужно понять как он устроен, создать новое приложение на ангуляре и встроить туда этот
      компонент, чтобы он работал.
    </div>
  </div>
  <app-list class="main" [header]="listControl.header"
            [items]="listControl.items"
            [logo]="listControl.logo"
            [showAdd]="listControl.showAdd"
            [showSwitcher]="listControl.showSwitcher"
            [showDelete]="listControl.showDelete"
            [enableSelect]="listControl.enableSelect"
            [dark]="listControl.dark"
            [emptyMessage]="listControl.emptyMessage"
            [selectorStyle]="listControl.selectorStyle"
            [clearSelection]="listControl.clearSelection"

            (addClicked)="addItem()"
            (selected)="selectItem($event)"
            (deleteItemClicked)="deleteItem($event)"
  >
  </app-list>
  </div>
